*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
height: 100vh;

}
.upper{
    width: 100%;
    margin-top: 2.5rem;
}
.playnow,.upper{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: transparent;
    color: #fff;
    height: 3rem;
    padding: 1rem;
    width: 65%;
    border: 2px solid #fff;
    border-radius: 50px;
}
button a{
    text-decoration: none;
    color: #fff;
}
.image60 img{
    height: 8rem;
    /* top: 0; */
translate: -3rem;
}

.image61{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    top: 0;
}
.image61 img{
    translate: 3rem;
    height: 5rem;
}
.image196 img{
    /* width: 2rem; */
    height: 3rem;
}

.play{
    background-image: url(../images/button.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
    border: none;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    body {
       display: block;
    }
    .main{
        overflow-x: hidden;
    }
    button{
        align-self: center;
        /* width: 60%; */
        height: 5.5rem;
    }
  
  }